@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.game-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gameboard {
    height: 450px; 
    width: 510px;
}
.space {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    background-color: white;
}

.button-div {
    display: flex;
    justify-content: center;
    margin: 30px;
}
.reset:hover {
    background-color: rgba(124, 215, 183, 0.807);
  }

/* Side Bar CSS */
.side-menu-container {
    position: relative;
  }
  
  .hamburger-menu {
    cursor: pointer;
    padding: 10px;
  }
  
  .hamburger {
    width: 30px;
    height: 4px;
    background-color: #000;
    margin: 6px 0;
  }
  
  .side-menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    transition: left 0.3s ease;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .side-menu.active {
    left: 0;
  }
  
  .side-menu ul {
    list-style: none;
    padding: 0;
  }

  .side-menu h3 {
    padding: 10px;
  }
  
  .side-menu ul li {
    padding: 10px;
  }
  
  .side-menu ul li a {
    text-decoration: none;
    color: #000;
  }

  .linkedin-icon {
    height: 20px;
  }